.copyright {
	margin-top: 0px !important;
}

.boton-entrar {
	background-image: none !important;
}

.bs-callout {
	border-bottom: none !important;
	border-right: none !important;
	border-top: none !important;
}